ProblemSet1/ProblemSet1/Debug/student_func.cu.deps
ProblemSet1/ProblemSet1/Debug/
ProblemSet1/ProblemSet1/x64/
ProblemSet2/ProblemSet2/x64/
ProblemSet2/ProblemSet2/Debug/
ProblemSet3/ProblemSet3/Debug/
ProblemSet3/ProblemSet3/x64/
ProblemSet4/ProblemSet4/Debug/
ProblemSet4/ProblemSet4/x64/
ProblemSet4/ProblemSet4.VC.db
ProblemSet4/ProblemSet4.VC.VC.opendb
ProblemSet3/ProblemSet3.VC.db
ProblemSet2/ProblemSet2.VC.db
ProblemSet1/x64/Release/ProblemSet1.ipdb
ProblemSet1/x64/Release/ProblemSet1.iobj
ProblemSet1/ProblemSet1.VC.db
